In [25]:
with open('accounts.txt',mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Mike 324.98\n')
    accounts.write('300 Jack 0.00\n')
    accounts.write('400 Ross 424.98\n')
    accounts.write('500 Joy 624.98\n')
    accounts.write('600 Monica -42.98\n')

//This statement will print only '100 Jones 24.98 line' in accounts.txt by removing all other lines

In [11]:
with open('accounts.txt',mode='w') as accounts:
 print('100 Jones 24.98', file=accounts)

In [26]:
with open('accounts.txt',mode='r') as accounts:
    print(f'{"Accounts":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account,name,balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Accounts  Name         Balance
100       Jones          24.98
200       Mike          324.98
300       Jack            0.00
400       Ross          424.98
500       Joy           624.98
600       Monica        -42.98

In [27]:
accounts = open('accounts.txt','r')
temp_file = open('temp_file.txt','w')
with accounts,temp_file:
    for record in accounts:
        account,name,balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account,'Williams',balance])
            temp_file.write(new_record + '\n')

In [28]:
import os
os.remove('accounts.txt')

In [29]:
os.rename('temp_file.txt','accounts.txt')

In [16]:
accounts_dict = {'accounts':[
    {'account':100, 'name': 'Jones', 'balance':24.98},
    {'account':200, 'name': 'Doe', 'balance':345.67}]}
import json
with open('accounts.json','w') as accounts:
    json.dump(accounts_dict,accounts)

In [17]:
with open('accounts.json','r') as accounts:
    accounts_json = json.load(accounts)

accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [18]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [19]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [20]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [21]:
with open('accounts.json','r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

In [22]:
10/0

ZeroDivisionError: division by zero

In [ ]:
value = int(input('Enter an integer:'))

ValueError: invalid literal for int() with base 10: 'value'

In [ ]:
#dividebyzero
"""Simple Exception handling example."""
while True:
     # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter Denominator:'))
        result = number1/number2
    except ValueError: # tried to convert non-numeric value to int
        print('you must enter two integers\n')
    except ZeroDivisionError: # denominator was 0
        print('Attempted to divide by zeroo,change denominator\n')
    else: # executes only if no exceptions occur
        print(f'{number1:.3f}/{number2:.3f} = {result:.3f}')
        break #terminates loop

Attempted to divide by zeroo,change denominator

you must enter two integers

80.000/30.000 = 2.667

In [ ]:
def try_it(value):
 try:
    x = int(value)
 except ValueError:
    print(f'{value} could not be converted to an integer')
 else:
    print(f'int({value}) is {x}')
try_it(11.11)
try_it('Priyanka')

int(11.11) is 11
Priyanka could not be converted to an integer

In [ ]:
try:
    print('try suite with no exceptions raised')
except:
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:
    print('finally always executes')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes

In [ ]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
     print('a ValueError occurred')
else:
     print('else will not execute because an exception occurred')
finally:
    print('finally always executes')

try suite that raises an exception
a ValueError occurred
finally always executes

In [ ]:
open('gradez.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'gradez.txt'

In [ ]:
try:
    with open('gradez.txt','r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

The file name you specified does not exist

In [ ]:
def function1():
    function2()
def function2():
    raise Exception('An exception occured')
function1()

Exception: An exception occured

In [ ]:
import csv
with open('accounts.csv',mode='w',newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100,'Joy', 24.98])
    writer.writerow([200,'Chandler', 348.98])
    writer.writerow([300,'Ross', 0.98])
    writer.writerow([400,'Monica', -23.98])
    writer.writerow([500,'rachel', 555.98])
    writer.writerow([500,'Phoebe', 111.11])

In [ ]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Joy            24.98
200       Chandler      348.98
300       Ross            0.98
400       Monica        -23.98
500       rachel        555.98
500       Phoebe        111.11

In [ ]:
import csv
with open('grades.csv', mode='w', newline='') as grades:
    writer = csv.writer(grades)
    writer.writerow([1, 'Red', 'A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [ ]:
with open('grades.csv', 'r', newline='') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    reader = csv.reader(grades)
    for record in reader:
        student_id, name, grade = record
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A